<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Date Joined</th>
            <th>Last Login</th>
            <th>Зарплата</th>
            <th>Счетчик трейдов</th>
            <th>Админ</th>
            <th>Имеет доступ</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.date_joined }}</td>
            <td>{{ user.last_login }}</td>
            <td>{{ user.salary }}</td>
            <td>{{ user.trades_count }}</td>
            <td>{{ user.is_superuser }}</td>
            <td>{{ user.is_active }}</td>
            <td>
                <a href="{% url 'user_edit' user.id %}" class="btn btn-sm btn-primary">Редактировать</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
